# Database configuration
HOSTNAME=
USERNAME=
PASSWORD=
DATABASE=

# Application configuration
PRODUCTION=false

# Session configuration
COOKIE_LIFETIME=3#h
DYNAMIC_LIFETIME=1#h
STATIC_LIFETIME=3#h
GC_LIFETIME=3#h
OBSOLETE_LIFETIME=1#min
AUTH_LIFETIME=2#h