# Database configuration
HOSTNAME=
USERNAME=
PASSWORD=
DATABASE=

# Application configuration
PRODUCTION=false

# Session configuration
COOKIE_LIFETIME=10800 # 3h
DYNAMIC_LIFETIME=3600 # 1h
STATIC_LIFETIME=10800 # 3h
GC_LIFETIME=10800 # 3h
OBSOLETE_LIFETIME=60 # 1min
AUTH_LIFETIME=7200 # 2h